<footer class="footer mt-auto py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Customer Service</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Order Tracking</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="#" class="me-2"><i class="bi bi-facebook"></i> Facebook</a>
                    <a href="#" class="me-2"><i class="bi bi-twitter"></i> Twitter</a>
                    <a href="#" class="me-2"><i class="bi bi-instagram"></i> Instagram</a>
                    <a href="#"><i class="bi bi-linkedin"></i> LinkedIn</a>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Subscribe to Our Newsletter</h5>
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="mb-0">&copy; 2024 Your Company. All rights reserved.</p>
        </div>
    </div>
</footer>