.course-card
{
    margin-bottom: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 0 1px 16px 0 rgba(0,0,0,.2) , 0 2px 8px 0 rgba(0,0,0,.15), 0 4px 8px -1px rgba(0,0,0,.12);
    width:50%
}

:host{
    display: block;
}

.course-card  ::ng-deep .course-description
{
    max-width: 360px;
    margin : 0 auto ;
    margin-top: 15px;
    text-decoration: underline;
}