<!-- <app-header></app-header>
<app-server></app-server>
<app-footer></app-footer> -->

<!-- <div class="container">
    <div class="row">
      <app-core 
            (serverCreated)="onAddServer($event)"
            (blueprintCreated)="onAddBlueprint($event)"
            ></app-core>
    </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
              <app-server-element [serverElement]="serverElement" *ngFor="let serverElement of serverElements"></app-server-element>
            </div>
        </div>
    
</div> -->


<div class="container">
  <div class="row">
    <!-- @for(course of courses ;track course.id; 
             let index=$index; 
             let count=$count;
             let first=$first;
             let last = $last;
             let even = $even;
             let odd =$odd
             )
    {
      {{index}}
      <app-course-card (courseSelected)="onCardClick($event)" [course]="course"></app-course-card>
    }
    @empty {
      <h1>No courses Avaliable</h1>
    } -->


    <!-- <div #container>
      <app-course-card #cardRef1 (courseSelected)="onCardClick($event)" [course]="courses[0]">
      </app-course-card>

      <app-course-card #cardRef2 (courseSelected)="onCardClick($event)" [course]="courses[1]">
      </app-course-card>
    </div> -->

    <!-- <app-course-card 
                 *ngFor="let course of courses; 
                 let i=index ; let o=odd" 
                 (courseSelected)="onCardClick($event)" 
                 [course]="course">
        </app-course-card> -->

    <div *ngIf="courses[0] as course">
      <app-course-card appHighlight (toggleHighlight)="onToggle($event)" (courseSelected)="onCardClick($event)"
        [course]="courses[0]">
        <app-course-image [ImageUrl]="course.iconUrl"></app-course-image>
        <br>
        <div class="course-description">
          {{course.longDescription}}
        </div>
        <br>
        <h3 appBasicHighlight [defulatColor]="'blue'" [highlightColor]="'green'">Total lessons : 10</h3>
      </app-course-card>
    </div>

  </div>
</div>

<div class="course-card">
  Test Card
</div>


<hr>

<div>
  <div style="border:1px solid black; margin:10px">
    <button>App component</button>
  </div>
  <div>
    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
  </div>
</div>