<!-- <app-header></app-header>
<app-server></app-server>
<app-footer></app-footer> -->

<!-- <div class="container">
    <div class="row">
      <app-core 
            (serverCreated)="onAddServer($event)"
            (blueprintCreated)="onAddBlueprint($event)"
            ></app-core>
    </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
              <app-server-element [serverElement]="serverElement" *ngFor="let serverElement of serverElements"></app-server-element>
            </div>
        </div>
    
</div> -->


<div class="container">
  <div class="row">
    <!-- @for(course of courses ;track course.id; 
             let index=$index; 
             let count=$count;
             let first=$first;
             let last = $last;
             let even = $even;
             let odd =$odd
             )
    {
      {{index}}
      <app-course-card (courseSelected)="onCardClick($event)" [course]="course"></app-course-card>
    }
    @empty {
      <h1>No courses Avaliable</h1>
    } -->
    <app-course-card *ngFor="let course of courses; let i=index ; let o=odd" (courseSelected)="onCardClick($event)" [course]="course"></app-course-card>
  </div>
</div>